<div style="justify-content: center; margin: 0px; padding: 0px">

    <!--each visualizaiton, or group of visualiations is placed in a component-->
    <!--Vizs were made with Tableau with much of the processing in excel, which is included in the repository.-->
    <app-sidescroll></app-sidescroll>
    <app-title [title]="'Bike Sharing Citizens'" [subTitle]="'of Los Angeles take part in a program which allows them to temporarily use community bikes for their daily activities.'" [subTitle2]="'These are the routes that drive them.'"></app-title>
    <app-home-main></app-home-main>
    <app-time-gif></app-time-gif>
    <app-title [title]="'Morning rush hour'" [subTitle]="'Has an especially high number of rides between just a few metropolian locations'"></app-title>
    <app-routes-zoomed-out></app-routes-zoomed-out>
    <app-routes-zoomed-in></app-routes-zoomed-in>
    <app-net-moves></app-net-moves>
    <app-title [title]="'Types of people and rides'" [subTitle]="'A closer look at the stories of L.A.'"></app-title>
    <app-passholder></app-passholder>
    <app-distributions></app-distributions>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11" style="background-color: white">
            <b>Data courtesy of 2018 <a href="https://www.mindsumo.com/contests/bikeshare-data">MindSumo Challenge</a></b>
            <p>Visualizations creted with <a href="https://public.tableau.com/profile/jessie.steckling1679#!/">Tableau</a></p>

        </div>
    </div>

</div>