<div class="scrollTextOverFreezeImg" style="background-color: white; height: 50vh">

</div>
<div>
    <div class="row">
        <div class="col-12" style="background-color: white; text-align:center;  height: 30vh">
            <h2 style="color: #4b8b9b">Watch the day unfold</h2>
            <h4>Routes which have active riders at a given time are highlighted.</h4>
        </div>
    </div>
    <div class="row" style="height: 70vh">
        <div class="col-12 d-flex justify-content-center" style="background-color: white; padding-bottom: 30vh">
            <img src="assets/hourlyImagesGif.gif" alt="Los Angeles" style="height: 40vh; width: 60vh">
        </div>
    </div>
</div>