<div class="scrollTextOverFreezeImg" style="background-color: white; height: 50vh">

</div>

<div class="row">
    <div class="col-12" style="background-color: white; text-align:center;  height: 30vh">
        <h2 style="color: #4b8b9b">Watch the day unfold</h2>
        <h4>Routes which have active riders at a given time are highlighted.</h4>
    </div>
</div>
<div class="scrollTextOverFreezeImg">
    <div class="row">
        <div class="col-12 d-flex justify-content-center" style="background-color: white">
            <img src="assets/hourlyImagesGif.gif" alt="Los Angeles" style="height: 40vw; width: 60vw; max-height: 840px; max-width: 1100px">
        </div>
    </div>
</div>
<div class="scrollText" style=" height: 40vh">